/* Importa a fonte OnePiece */
@font-face {
    font-family: 'OnePiece';
    src: url('fonts/OnePiece.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Estiliza o corpo da página */
body {
    background-image: url('img/606284.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'OnePiece', sans-serif;
    background-color: #DDDDDD;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    position: relative;
}

/* Define a animação */
@keyframes moveText {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    50% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(100px);
        opacity: 0;
    }
}

/* Estiliza os títulos h1 com a animação */
h1 {
    font-size: 2.5rem;
    color: #222831;
    text-align: center;
    letter-spacing: 0.4rem;
    text-shadow: 1px 1px 0 #ffffff, -1px 1px 0 #ffffff, 1px -1px 0 #ffffff, -1px -1px 0 #ffffff;
    animation: moveText 5s ease-in-out infinite; /* Adiciona a animação */
}

/* Estiliza o container de pesquisa do Google */
.gcse-search {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

input.gsc-input {
    width: 150px !important;
    padding: 5px !important;
}

/* Estiliza o rodapé */
footer {
    background-color: rgba(245, 247, 248, 0.8);
    color: #45474B;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    position: absolute;
    bottom: 0;
    font-size: 1rem;
}

/* Estiliza a área de mídias sociais no rodapé */
.social-media {
    margin-top: 10px;
}

/* Estiliza os ícones de mídias sociais */
.social-media a {
    color: #45474B;
    text-decoration: none;
    margin: 0 10px;
    font-size: 24px;
    vertical-align: middle;
    padding: 5px;
}

/* Muda a cor dos ícones ao passar o mouse sobre eles */
.social-media a:hover {
    color: #007bff;
}